@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
body {
  padding: 0;
  background: lightgoldenrodyellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

#notebook{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 450px;
  top: 50px;
}

#notebook .turn-page{
	background-color:#ccc;
}

.paper {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.9);
}

.paper::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  background: rgba(255,0,0,0.4);
}

.paperRight::before {
    left: 50px;
}

.paperLeft::before {
    right: 50px;
}

.lines {
  height: 100%;
  width: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
  background-position: 0px 12px;
}

.text {
  position: absolute;
  top: 65px;
  bottom: 10px;
  right: 10px;
  line-height: 25px;
  font-family: 'Indie Flower';
  overflow: hidden;
  outline: none;
  width: 328px;

}

.textRight {
    left: 55px;
    width: 328px;
}

.textLeft {
    left: 10px;
}


.holes {
  position: absolute;
  height: 25px;
  width: 25px;
  background: lightgoldenrodyellow;
  border-radius: 50%;
  box-shadow: inset 0px 0px 2px 0px #888;
}

.holesRight {
    left: 15px;
}

.holesLeft {
    right: 15px;
}
.hole-top {
  top: 10%;
}
.hole-middle {
  top: 50%;
}
.hole-bottom {
  bottom: 10%;
}

.intermidleRight{
  position: relative;
  right:441px;
  width: 10px;
  background-color: lightgoldenrodyellow;
}

.intermidleLeft{
  position: relative;
  right:0px;
  width: 10px;
  background-color: lightgoldenrodyellow;
}