body {
    background-color: #1c2128;
    color: #bfd4e9;
    font-family: "Roboto";
    display: flex;
    height: 100vh; /* Altura de la ventana */
    justify-content: center;
    align-items: center;
    transition: background-color 0.75s ease;
    cursor: none; /* Ocultar el cursor por defecto */
    overflow: hidden;
}

#container {
    position: relative; /* Contenedor para el fondo */
    width: 100%;
    height: 100%;
    overflow: hidden; /* Asegúrate de que no haya desbordamiento */
}

#fondo {
    width: 100%;
    height: 100%;
    position: absolute; /* Asegúrate de que el fondo cubra todo */
    top: 0;
    left: 0;
    z-index: 0; /* Asegúrate de que el fondo esté detrás de la máscara */
    mask: url(img/cursors/cccc_veraniego.gif); /* Aplica la máscara */
    mask-repeat: no-repeat; /* No repetir la máscara */
    mask-size: 100px; /* Ajusta el tamaño de la máscara */
    mask-position: 0 0; /* Posición inicial de la máscara */
}
