@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --img: url("img/Cc2.png");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: none;
  user-select: none; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  touch-action: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: currentColor;
  
}

body {
  background-color: #1c2128;
  color: #bfd4e9;
  font-family: "Roboto";
  display: flex;
  height: 100dvh;
  justify-content: center;
  flex-direction: column;
  animation:  animate 1s infinite;
  cursor: none;
}

#customCursor {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.1s ease-in-out, height 0.1s ease-in-out, transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
  z-index: 100;
  transform: translate(-18px, -18px);
  visibility: visible;
  opacity: 100%;

}

#customCursor.clicked {
  width: 60px;
  height: 60px;
  transform: translate(-28px, -28px); /* Ajuste según el nuevo tamaño */
}


#customCursorPurpleish {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.1s ease-in-out, height 0.1s ease-in-out, transform 0.1s ease-in-out, opacity 0.1s ease-in-out ;
  z-index: 100;
  transform: translate(-18px, -18px);
  visibility: visible;
  opacity: 100%;
}

#customCursorPurpleish.clicked {
  width: 60px;
  height: 60px;
  transform: translate(-28px, -28px); /* Ajuste según el nuevo tamaño */
}

@keyframes animate {
  0%{
    cursor: url("cursor/00.gif");
  }

  50%{
    cursor: url("cursor/50.gif");
  }

  100%{
    cursor: url("cursor/00.gif");
  }
}

nav {
  display: flex;
  height: fit-content;
  width: 100%;
  justify-content: center;
}

nav a {
  padding: 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #333c4a9d;
}

.boxx {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  border-radius: 20px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  padding-right: 20px;
  gap: 10px;
  border: 1px solid grey;
  border-radius: 15px;
  text-align: center;
  min-width: 550px;
  overflow: hidden; /* Para evitar que el pseudo-elemento se salga de los bordes */
  transition: transform 2s; /* Solo la transición del scale */
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/g_sistemas_empresariales_exp2.jpg.png");
  background-size: cover;
  opacity: 0;
  filter: blur(0); /* Empieza sin desenfoque */
  transition: opacity 0.5s, filter 1.5s; /* Transición tanto para la opacidad como para el desenfoque */
  z-index: -1; /* Mantiene el fondo detrás del contenido */
}

.card:hover {
  animation-name: animacion;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.card:hover::before {
  opacity: 0.3; /* Al hacer hover, el fondo se vuelve visible */
  filter: blur(1px); /* Aplica desenfoque progresivo al fondo */
}

.card1::before {
  background-image: url("img/g_datos_ext2.png");
}

.card2::before {
  background-image: url("img/g_moviles_ext2.png");
}

.card3::before {
  background-image: url("img/g_empresas_ext2.png");
}

.card4::before {
  background-image: url("img/g_interfaces_exp2.png");
}

.card5::before {
  background-image: url("img/g_servicios_y_procesos_exp2.png");
}

.card6::before {
  background-image: url("img/g_sistemas_empresariales_exp2.png");
}


@keyframes animacion {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1.02);
  }
}




.img {
  margin-right: 70px;
  width: 20%;
}

div.img img {
  height: 90px;
  border-radius: 5px;
}

#title {
  font-size: 24px;
}


/*Propiedades para IMAGENES*/

#Cc1 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc1preview {
  display: none;
  position: fixed;
  bottom: 13px;
  left: 30px;
  width: 30px;
  height: 20px;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc2preview {
  display: none;
  position: fixed;
  bottom: 33px;
  left: 30px;
  width: 30px;
  height: 20px;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc3 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc3preview {
  display: none;
  position: fixed;
  top: 13px;
  left: 30px;
  width: 30px;
  height: 20px;
  object-fit: cover;
  z-index: 999;
  transition: opacity 2.5s ease-in-out;
}

#Cc4 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc4preview {
  display: none;
  position: fixed;
  top: 33px;
  left: 30px;
  width: 30px;
  height: 20px;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc5 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc5preview {
  display: none;
  position: fixed;
  top: 13px;
  right: 30px;
  width: 30px;
  height: 20px;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc6 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc6preview {
  display: none;
  position: fixed;
  top: 33px;
  right: 30px;
  width: 30px;
  height: 20px;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc7 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc7preview {
  display: none;
  position: fixed;
  bottom: 13px;
  right: 30px;
  width: 30px;
  height: 20px;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc8 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc8preview {
  display: none;
  position: fixed;
  bottom: 33px;
  right: 30px;
  width: 30px;
  height: 20px;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

.ButtonCc1 {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  width: 1px;
  background-color: #262b31;
  position: absolute;
  bottom: 0;
  left: 0;

  background: none;
  border: 8;
  color: inherit;

  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  opacity: 20%;
}

.ButtonCc2 {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  width: 1px;
  background-color: #262b31;
  position: absolute;
  bottom: 20px;
  left: 0;

  background: none;
  border: 8;
  color: inherit;

  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  opacity: 20%;
}

.ButtonCc3 {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  width: 1px;
  background-color: #262b31;
  position: absolute;
  top: 0;
  left: 0;

  background: none;
  border: 8;
  color: inherit;

  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  opacity: 20%;
}

.ButtonCc4 {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  width: 1px;
  background-color: #262b31;
  position: absolute;
  top: 20px;
  left: 0;

  background: none;
  border: 8;
  color: inherit;

  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  opacity: 20%;
}

.ButtonCc5 {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  width: 1px;
  background-color: #262b31;
  position: absolute;
  top: 0;
  right: 0;

  background: none;
  border: 8;
  color: inherit;

  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  opacity: 20%;
}

.ButtonCc6 {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  width: 1px;
  background-color: #262b31;
  position: absolute;
  top: 20px;
  right: 0;

  background: none;
  border: 8;
  color: inherit;

  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  opacity: 20%;
}

.ButtonCc7 {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  width: 1px;
  background-color: #262b31;
  position: absolute;
  bottom: 0;
  right: 0;

  background: none;
  border: 8;
  color: inherit;

  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  opacity: 20%;
}

.ButtonCc8 {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  width: 1px;
  background-color: #262b31;
  position: absolute;
  bottom: 20px;
  right: 0;

  background: none;
  border: 8;
  color: inherit;

  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  opacity: 20%;
}