@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --img: url("img/Cc2.png");
}

@font-face {
  font-family: 'verti';
  src: url('img/verti.ttf') format('woff2'),
       url('img/verti.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: none;
  user-select: none; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  touch-action: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: currentColor;
  position: relative;
}

body {
  background-color: #1c2128;
  color: #bfd4e9;
  font-family: "Roboto";
  display: flex;
  height: 100dvh;
  justify-content: center;
  flex-direction: column;
  transition: background-color 0.75s ease;
  cursor: none;
  overflow: hidden;
}


#customCursor {
  position: absolute;
  width: 47px;
  height: 40px;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.1s ease-in-out, height 0.1s ease-in-out, transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
  z-index: 100;
  transform: translate(-18px, -18px);
  visibility: visible;
  opacity: 1%;

}

#customCursor.clicked {
  width: 70px;
  height: 60px;
  transform: translate(-29px, -29px); /* Ajuste según el nuevo tamaño */
}


#customCursorPurpleish {
  position: absolute;
  width: 47px;
  height: 40px;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.1s ease-in-out, height 0.1s ease-in-out, transform 0.1s ease-in-out, opacity 0.1s ease-in-out ;
  z-index: 100;
  transform: translate(-18px, -18px);
  visibility: visible;
  opacity: 1%;
}

#customCursorPurpleish.clicked {
  width: 70px;
  height: 60px;
  transform: translate(-29px, -29px); /* Ajuste según el nuevo tamaño */
}


.svg-oval {
  position: absolute;
  left: 67%;
  transform: translate(-50%, -120px);
  opacity: 0%;
  transition: opacity 0.4s ease;
  pointer-events: none;
  z-index: -10;
  filter: brightness(100) blur(50px);
  /*backdrop-filter: blur(20px);*/
}

.show {
  opacity: 10%;
}




nav {
  display: flex;
  height: fit-content;
  width: 100%;
  justify-content: center;
}

nav a {
  padding: 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: hsla(217, 18%, 25%, 0);
}

.boxx {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  border-radius: 20px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  padding-right: 20px;
  gap: 10px;
  border: 1px solid grey;
  border-radius: 15px;
  text-align: center;
  min-width: 550px;
  overflow: hidden; /* Para evitar que el pseudo-elemento se salga de los bordes */
  transition: transform 2s; /* Solo la transición del scale */
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/g_sistemas_empresariales_exp2.jpg.png");
  background-size: cover;
  opacity: 0;
  filter: blur(5px); /* Empieza sin desenfoque */
  transition: opacity 0.5s, filter 0.75s; /* Transición tanto para la opacidad como para el desenfoque */
  z-index: -1; /* Mantiene el fondo detrás del contenido */
}

.card:hover {
  animation-name: animacion;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.card:hover::before {
  opacity: 0.6; /* Al hacer hover, el fondo se vuelve visible */
  filter: blur(0px); /* Aplica desenfoque progresivo al fondo */
}

.card1::before {
  background-image: url("img/g_datos_ext2.png");
}

.card2::before {
  background-image: url("img/g_moviles_ext2.png");
}

.card3::before {
  background-image: url("img/g_empresas_ext2.png");
}

.card4::before {
  background-image: url("img/g_interfaces_exp2.png");
}

.card5::before {
  background-image: url("img/g_servicios_y_procesos_exp2.png");
}

.card6::before {
  background-image: url("img/g_sistemas_empresariales_exp2.png");
}


@keyframes animacion {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1.02);
  }
}




.img {
  margin-right: 70px;
  width: 20%;
  opacity: 100%;
}

div.img img {
  height: 90px;
  border-radius: 5px;
}

#title {
  font-size: 24px;
}


/*Propiedades para IMAGENES*/

#Cc1 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc1preview {
  display: none;
  position: fixed;
  bottom: 13px;
  left: 30px;
  width: 30px;
  height: 20px;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc2preview {
  display: none;
  position: fixed;
  bottom: 33px;
  left: 30px;
  width: 30px;
  height: 20px;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc3 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc3preview {
  display: none;
  position: fixed;
  top: 13px;
  left: 30px;
  width: 30px;
  height: 20px;
  object-fit: cover;
  z-index: 999;
  transition: opacity 2.5s ease-in-out;
}

#Cc4 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc4preview {
  display: none;
  position: fixed;
  top: 33px;
  left: 30px;
  width: 30px;
  height: 20px;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc5 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc5preview {
  display: none;
  position: fixed;
  top: 13px;
  right: 30px;
  width: 30px;
  height: 20px;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc6 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc6preview {
  display: none;
  position: fixed;
  top: 33px;
  right: 30px;
  width: 30px;
  height: 20px;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc7 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc7preview {
  display: none;
  position: fixed;
  bottom: 13px;
  right: 30px;
  width: 30px;
  height: 20px;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc8 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc8preview {
  display: none;
  position: fixed;
  bottom: 33px;
  right: 30px;
  width: 30px;
  height: 20px;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

.ButtonCc1 {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  width: 1px;
  background-color: #262b31;
  position: absolute;
  bottom: 0;
  left: 0;

  background: none;
  border: 8;
  color: inherit;

  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  opacity: 20%;
}

.ButtonCc2 {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  width: 1px;
  background-color: #262b31;
  position: absolute;
  bottom: 20px;
  left: 0;

  background: none;
  border: 8;
  color: inherit;

  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  opacity: 20%;
}

.ButtonCc3 {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  width: 1px;
  background-color: #262b31;
  position: absolute;
  top: 0;
  left: 0;

  background: none;
  border: 8;
  color: inherit;

  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  opacity: 20%;
}

.ButtonCc4 {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  width: 1px;
  background-color: #262b31;
  position: absolute;
  top: 20px;
  left: 0;

  background: none;
  border: 8;
  color: inherit;

  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  opacity: 20%;
}

.ButtonCc5 {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  width: 1px;
  background-color: #262b31;
  position: absolute;
  top: 0;
  right: 0;

  background: none;
  border: 8;
  color: inherit;

  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  opacity: 20%;
}

.ButtonCc6 {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  width: 1px;
  background-color: #262b31;
  position: absolute;
  top: 20px;
  right: 0;

  background: none;
  border: 8;
  color: inherit;

  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  opacity: 20%;
}

.ButtonCc7 {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  width: 1px;
  background-color: #262b31;
  position: absolute;
  bottom: 0;
  right: 0;

  background: none;
  border: 8;
  color: inherit;

  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  opacity: 20%;
}

.ButtonCc8 {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  width: 1px;
  background-color: #262b31;
  position: absolute;
  bottom: 20px;
  right: 0;

  background: none;
  border: 8;
  color: inherit;

  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  opacity: 20%;
}


.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform:scale(60%);
  top: 5px;
  right: 10px;
}

.credit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  font-family: arial;
}

.switch {
  position: relative;
  overflow: hidden;
  width: 7.5rem;
  height: 4rem;
}

.switch input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}

.switch label {
  cursor: pointer;
}

.background {
  z-index: 1;
  position: absolute;
  width: 7.5rem;
  height: 4rem;
  border-radius: 2.5rem;
  border: 0.25rem solid #202020;
  background: linear-gradient(to right, #484848 0%,#1c2128 100%);
  transition: all 0.3s;
}

.stars1,
.stars2 {
  position: absolute;
  height: 0.4rem;
  width: 0.4rem; 
  background: #FFFFFF;
  border-radius: 50%;
  transition: 0.3s all ease;
}

.stars1 {
  top: 6px;
  right: 23px;
}

.stars2 {
  top: 40px;
  right: 48px;
}

.stars1:after,
.stars1:before,
.stars2:after,
.stars2:before{
  position: absolute;
  content: "";
  display: block;
  height: 0.25rem;
  width: 0.25rem;
  background: #FFFFFF;
  border-radius: 50%;
  transition: 0.2s all ease;
}

.stars1:after {
  top: 8px;
  right: 20px;
}

.stars1:before {
  top: 18px;
  right: -12px;
}

.stars2:after {
  top: -8px;
  right: -16px;
}

.stars2:before {
  top: 6px;
  right: -26px;
}

.sun-moon {
  z-index: 2;
  position: absolute;
  left: 0;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
  background: #FFFDF2;
  border-radius: 50%;
  transition: all 0.5s ease;
  
  /* Default to Moon */
  border: 0.25rem solid #DEE2C6;
}

.sun-moon .dots {
  position: absolute;
  top: 3px;
  left: 23px;
  height: 1rem;
  width: 1rem; 
  background: #EFEEDB;
  border: 0.25rem solid #DEE2C6;
  border-radius: 50%;
  transition: 0.4s all ease;
}

.sun-moon .dots:after,
.sun-moon .dots:before {
  position: absolute;
  content: "";
  display: block;
  height: 0.25rem;
  width: 0.25rem;
  background: #EFEEDB;
  border: 0.25rem solid #DEE2C6;
  border-radius: 50%;
  transition: 0.4s all ease;
}

.sun-moon .dots:after {
  top: -4px;
  left: -24px;
}

.sun-moon .dots:before {
  top: 18px;
  left: -10px;
}

/* Transition to Sun */

.switch input:checked ~ .sun-moon {
  left: calc(100% - 4rem);
  background: #eee98f;
  border-color: #ebcc65;
  transform: rotate(-25deg);
}

.switch input:checked ~ .sun-moon .dots,
.switch input:checked ~ .sun-moon .dots:after,
.switch input:checked ~ .sun-moon .dots:before {
  background: #FFFFFF;
  border-color: #FFFFFF;
}

.switch input:checked ~ .sun-moon .dots {
  height: 1.5rem;
  width: 1.5rem;
  top: 0px;
  left: -20px;
  transform: rotate(25deg);
}

.switch input:checked ~ .sun-moon .dots:after {
  height: 0.65rem;
  width: 0.65rem;
  top: 2px;
  left: -12px;
}

.switch input:checked ~ .sun-moon .dots:before {
  height: 0.4rem;
  width: 0.4rem;
  top: 6px;
  left: 14px;
}

.switch input:checked ~ .background .stars1,
.switch input:checked ~ .background .stars2 {
  opacity: 0;
  transform: translateY(2rem);
}

.switch input:checked ~ .background {
  border: 0.25rem solid #c4c389;
  background: linear-gradient(to right, #cbca8f 0%, #edeba4 100%);
}





#skinsContainer {
  background: #1c2128;
  background: linear-gradient(180deg,#1c2128 10%, #737f8b 200%);
  background: -webkit-linear-gradient(180deg,#1c2128 10%, #737f8b 200%);
  background: -moz-linear-gradient(180deg,#1c2128 10%, #737f8b 200%);
  position: fixed;
  width: 10vw;
  height: 100vh;
  align-items: center;
  justify-content: top;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease;
  transform: translateX(-10vw);
  gap: 20px;
  overflow-y:auto;
  overflow-x: hidden;
}

/* Scroll personalizado para WebKit (Chrome, Safari) */
#skinsContainer::-webkit-scrollbar {
  width: 10px; /* Anchura del scrollbar */
}

#skinsContainer::-webkit-scrollbar-thumb {
  background-color: #737f8b; /* Color del "thumb" (la parte que se desplaza) */
  border-radius: 5px; /* Bordes redondeados */
}

#skinsContainer::-webkit-scrollbar-track {
  background-color: transparent; /* Color de fondo del track (donde se mueve el thumb) */
  border-radius: 5px; /* Bordes redondeados */
}

#skinsContainer::-webkit-scrollbar-thumb:hover {
  background-color: #bfd4e9; /* Color del "thumb" al pasar el ratón encima */
}

#skinsContainer.active {
  transform: translateX(0vw);

}

#flechaa {
  width: 40px;
  height: 80px;
  position: fixed;
  top: calc(50vh - 20px);
  left: 12vw;
  transform: rotate(270deg) rotateX(0deg) translateY(-13vw);
  transition: transform 0.75s ease;
  z-index: 2;
}

#flechaa.active {
  transform: rotate(270deg) rotateX(180deg) translateY(-0.75vw);
}

#flechaHitbloxPlus{
  background-color: transparent;
  position: fixed;
  width: 1vw;
  height: 100vh;
  transition: transform 0.5s ease;
  transform: translateX(0vw);
  z-index: 1;
}

#flechaHitbloxPlus.active {
  transform: translateX(10vw);
  width: 30vw;
}


.coinsContainer{
  position: absolute;
  display: flex;
  width: 400px;
  height: 50px;
  top: 0;
  left: 0;
  transition: margin-left 0.5s ease;
  font-size: 25px;
}

.titulo{
  position: relative;
  display: flex;
  width: 30px;
  height: 120px;
  font-size: 30px;
  font-weight: bold;
  font-family: "verti";
}

.hr{
  position: relative;
  display: flex;
  min-height: 2px;
  width: 80%;
  background-color: #bfd4e9;
  margin-top: 70px;
}


.skinContainerFirst{
  margin-top: 40px;
}

.skinContainer{
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  width: 90%;
  min-height: 280px;
  max-height: 280px;
  border: 2px solid #bfd4e9;
  border-radius: 25px;
  overflow: visible;
  z-index: 20;
}

@media screen and (max-width: 1600px) {
  .skinContainer {
    overflow: hidden; /* Aplica overflow: hidden solo cuando el ancho es menor o igual a 1600px */
  }
}

.skinContainerBackdropFilter{
  backdrop-filter: blur(20px);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  width: 100%;
  min-height: 100%;
  border-radius: 25px;
  z-index: -20;
}

.skinContainerLock{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  width: 100%;
  min-height: 100%;
  border-radius: 25px;
  background-color: rgba(119, 119, 119, 0.342);
  backdrop-filter: blur(2px);
  filter: saturate(0);
  z-index: 10;
  transition: opacity 0.2s ease;
  opacity: 100%;
}

.candado {
  position: absolute;
  z-index: 20;
  width: 100px;
  height: auto;
  margin-top: 55px;
  transition: opacity 0.2s ease, transform 0.2s ease;
  opacity: 100%;
  animation-name: lockBalancing;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes lockBalancing {
  0% {
    transform: translateY(-7px) rotate(0deg); /* Balanceo hacia arriba */
  }

  50% {
    transform: translateY(0px) rotate(1deg); /* Centro con ligera rotación */
  }

  100% {
    transform: translateY(-7px) rotate(0deg); /* Balanceo hacia arriba */
  }
}


.skinPortada{
  position: relative;
  display: flex;
  width: 450px;
  height: 350px;
  top: -60px;

}

.tituloSkin{
  position: relative;
  display: flex;
  top: -130px;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
}

.releaseDate{
  position: relative;
  display: flex;
  top: -123px;
  font-style: italic;
  font-size: 14px;
  opacity: 80%;
  white-space: nowrap;
}

.skinContainerNotVisible{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 100%;
    min-height: 100%;
    border-radius: 25px;
    z-index: 10;
    transition: opacity 0.2s ease;
}

.priceContainerNotVisible{
  width: 120px;
  height: 20px;
  font-size: 14px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 173px;
  color: #e9e02c;
  outline: 2px solid #e9e02c8a;
  border-radius: 20px;
}


.priceContainer{
  width: 80%;
  height: 20px;
  font-size: 14px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  top: -120px;
}

.price{
  color: #e9e02c;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0px 0px 5px rgb(255, 223, 43);
}

.priceNormal{
  font-size: 14px;
  font-weight: bold;
}

.coin{
  width: 20px;
  height: 20px;
  margin-left: -3px;
  margin-top: -1px;
  z-index: 1;
}

.coinBlur{
  position: absolute;
  width: 20px;
  height: 20px;
  filter: blur(5px);
  margin-left: 67px;
  margin-top: -1px;
  opacity: 65%;
}

.tier{
  position: relative;
  display: flex;
  top: -110px;
  font-weight: bold;
  font-size: 14px;
  opacity: 80%;
  padding: 3px;
  padding-left: 6px;
  padding-right: 5px;
  border-radius: 4px;
  color: white;
  background-color: rgb(106, 23, 106);
}

.buttonThemeContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10%;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 29px;
  top: -97px;

}

.buttonTheme{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  width: 100%;
  height: 29px;
  border-radius: 5px;
  z-index: 2;
}

.buttonThemeNight {
  border-bottom-left-radius: 15px;
  background-color: #bfd4e9a9;
  transition: background-color 0.2s;
  z-index: 2;

}

.buttonThemeNight:hover {
  background-color: #bfd4e9f0;
}

.buttonThemeDay {
  border-bottom-right-radius: 15px;
  background-color: #e9ddbfad;
  transition: background-color 0.2s;
  z-index: 2;

}

.buttonThemeDay:hover {
  background-color: #e9ddbfee;
}



.buttonThemeImg{
  position: relative;
  display: flex;
  padding: 4px;
  width: 25px;
  height: 25px;
}


