@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --betValueSelect-width: auto;
    --betValueDB-width: auto;
}

@font-face {
    font-family: "kemco";
    src: url("../img/Kemco Pixel Bold.ttf") format("woff2"),
      url("../img/Kemco Pixel Bold.ttf") format("woff");
    font-weight: normal;
    font-style: normal;
  }

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #1c2128;
    color: #bfd4e9;
    width:100vw;
    height:100vh;
}

img {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
}


#game {
    width:100vw;
    height:100vh;
}

#matchInfoContainer{
    position: absolute;
    left: 20px;
    top: 20px;
}
#matchInfoContainer > div{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#mistakerContainer{
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    z-index: 3;
    transition: all 1s ease;
    opacity: 0;
}
#mistakerContainer.active{
    opacity: 1;
}
#mistakerContainer > div{
    display: flex;
    flex-direction: row;
}
.mistakeImgCont{
    position: relative;
    display: flex;
    width: 60px;
    height: auto;
}
.mistakeImg{
    position: absolute;
    display: none;
    transition: all 1s ease, filter 1.5s ease;

    width: 500px;
    height: auto;
    right: calc(50vw - 250px);
    top: calc(50vh - 250px);
    opacity: 0;
    filter: drop-shadow(10px 10px 20px black);
}
.mistakeImg.active{
    width: 60px;
    height: auto;
    opacity: 1;
    filter: drop-shadow(0px 0px 0px black);
}
.mistake1.mistakeImg.active{
    right: 130px;
    top: 0px;
}
.mistake2.mistakeImg.active{
    right: 65px;
    top: 0px;
}
.mistake3.mistakeImg.active{
    right: 0px;
    top: 0px;
}

#endContainer {
    display: none; /* Usar flexbox para centrar internamente */
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    position: absolute; /* Asegura que esté sobre el contenedor principal */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra con precisión */
    width: 700px; /* Adapta el ancho automáticamente al contenido */
    height: 100vh; /* Adapta la altura automáticamente al contenido */
    border-radius: 10px; /* Bordes redondeados opcionales */
    transition: opacity 0.5s ease;

    font-weight: bold;
    font-family: "Roboto";
}
#gifCanvas{
    width: 120%;
    height: 300px;
    margin-left: -45px;
}
#winGif{
    width: 100%;
    height: auto;
    margin-top: -10%;
}
.jsgif{
    display: none;
    position: absolute;
    pointer-events: none;
}

.warningMessageContainer{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.warningMessage{
    display: flex;
}
.chargeGif{
    display: flex;
    width: auto;
    height: 15px;
    margin-top: 2.8px;
}
.messageTick{
    display: flex;
    width: auto;
    height: 19px;
    filter: brightness(0) saturate(100%) invert(69%) sepia(48%) saturate(2278%) hue-rotate(65deg) brightness(99%) contrast(143%);
}
.messageError{
    display: flex;
    width: auto;
    height: 21px;
    margin-top: -0.5px;
}

#infoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-bottom: 100px;
    background-color: rgba(20, 26, 31, 0);
    border-radius: 10px;
}
.borderAnim {
    border: 2px solid;
    border-color: #1c2128;
    -webkit-mask: 
      conic-gradient(from 180deg at top 8px right 8px, #0000 90deg,#000 0)
       var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
      conic-gradient(at bottom 8px left  8px,  #0000 90deg,#000 0)
       0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
      linear-gradient(#000 0 0) padding-box no-repeat;
    transition: .5s, -webkit-mask-position .5s .5s;
  }
.borderAnim.active {
    --_i: 100%;
    border-color: #bfd4e9;
    transition: .5s, -webkit-mask-size .5s .5s;
}





#informationContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 150px;
}
#historyContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 150px;
    margin-right: 30px;
    margin-left: 20px;
}
#rewardsContainer{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 150px;
    margin-right: 30px;
}

.rewardsTittleContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
}
#historyContainer .rewardsRow {
    margin-left: -10px;
}
#rewardsContainer .rewardsRow {
    margin-left: -50px;
}
#informationContainer .rewardsRow {
    margin-left: -15px;
}
.rewardsTittle{
    display: flex;
    width: 15%;
    height: 15px;
    opacity: 0;
    white-space: nowrap;
    margin-bottom: 15px;
    transition: width 0.7s ease, opacity 0.7s ease;
}
.rewardsTittle.active{
    width: 40%;
    opacity: 1;
}
.rewardsTittleBlank{
    display: flex;
    width: 0px;
    opacity: 0;
    transition: width 0.7s ease, opacity 0.7s ease;
}
.rewardsTittleBlank.active{
    width: 40px;
    opacity: 1;
}
.rewardsTittleImg{
    display: flex;
    width: 0px;
    opacity: 0;
    transition: width 0.7s ease, opacity 0.7s ease;
    margin-right: 5px;
    margin-top: -7px;
}
.rewardsTittleImg.active{
    width: 20px;
    opacity: 1;
}
.rewardsTittleImg.night{
    filter: brightness(0) saturate(100%) invert(86%) sepia(4%) saturate(2668%) hue-rotate(185deg) brightness(104%) contrast(83%);
}

.rewardsItems{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: normal;
}
#historyContainer > .rewardsItems{
    display: flex;
    flex-direction: row;
}
.rewardsColumn{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    gap: 5px;
}/*
.rewardsColumn:nth-child(3){
    margin-right: 10px;
}*/
.rewardsRow{
    display: flex;
    flex-direction: row;
    width: 15%;
    height: 30px;
    /*border: 1px solid #7bd868;*/
    gap: 5px;
    opacity: 0;
    white-space: nowrap;
    transition: width 0.7s ease, opacity 0.7s ease;
}
.rewardsRow.active{
    width: 40%;
    opacity: 1;
}
.rewardsRowLabel{
    display: flex;

}
.rewardsRowNumber{
    display: flex;
}
.rewardsRowModo{
    display: flex;
    transform: scale(0.7);
}




#nextButton {
    position: relative;
    width: 200px;
    height: 50px;
    background-color: rgb(52, 81, 120); /* Añade un color de fondo para visibilidad */
    border: none;
    border-radius: 8px; /* Opcional: diseño más atractivo */
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex; /* Asegúrate de centrar el texto dentro del botón */
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-family: "Roboto";
    transition: all 0.5s ease;
    opacity: 0;
    pointer-events: none;
}
#nextButton.active{
    opacity: 1;
    pointer-events: all;
}


#startMatchContainerFull{
    display: flex; /* Usar flexbox para centrar internamente */
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    position: absolute; /* Asegura que esté sobre el contenedor principal */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    transition: all 0.5s ease-in-out, opacity 0.5s ease;
    opacity: 0;
}
#startMatchContainerFull.active{
    opacity: 1;
}
#startMatchContainer {
    display: flex; /* Usar flexbox para centrar internamente */
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: scaleY(0);
    width: 540px; /* Adapta el ancho automáticamente al contenido */
    height: auto; /* Adapta la altura automáticamente al contenido */
    background-color: rgba(20, 26, 31, 0.957);
    padding: 20px; /* Añade espacio interno opcional */
    border-radius: 10px; /* Bordes redondeados opcionales */
    transition: all 0.5s ease-in-out, opacity 0.5s ease;

    font-weight: bold;
    font-family: "Roboto";
}

#startMatchContainer.active{
    transform: scaleY(1);
}

#sliceIt{
    width: 500px;
    height: auto;
    margin-top: -150px;
    transform: translateY(0px);
    transition: all 0.5s ease;
}
#sliceIt.down{
    transform: translateY(55px);
}
#sliceIt.out{
    transform: translateY(-1800px);
}

#startMatchContainerImg{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    mix-blend-mode: multiply;
        /*mix-blend-mode: color-burn;*/
    filter: brightness(1) contrast(3);
    pointer-events: none;
    justify-content: center;
    gap: 100vh;
    transition: all 0.7s ease-in-out;
}

#startMatchContainerImg.active{
    gap: 0vh;
}
#bonsai{
    display: flex;
    width: auto;
    height: 125%;
    transform: scaleX(-0.85) translateX(33%) translateY(11%);
}
#startMatchContainerImgBlank{
    display: flex;
    width: 20%;
    height: auto;
}
#samuraiContainer{
    display: flex;
    flex-direction: column;
}
#samuraiBlank{
    height: 20%;
}
#samurai{
    position: relative;
    display: flex;
    width: auto;
    height: 85%;
    transform: translateX(-4%) translateY(5%);
}


.betContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    font-size: 16px;
    background-color: #607d9962;
    width: calc(450px + var(--betValueSelect-width) + var(--betValueDB-width));
    height: auto;
    padding: 12px;
    border-radius: 7px;
    pointer-events: all;
    filter: drop-shadow(0px 0px 0px black);

    transform: scale(1) perspective(525px) translateZ(0) rotateX(var(--dx)) rotateY(var(--dy));
    transition: all 0.7s ease, width 0.2s ease, transform 150ms linear;
}

.betContainer.active {
    transform: scale(1.05) perspective(525px) translateZ(0) rotateX(var(--dx)) rotateY(var(--dy));
    filter: drop-shadow(4px 6px 7px black);
}

.betRangeContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.betValueContainer{
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    position: absolute;
    right: 20px;
    width: auto;
    font-size: 14px;
}

#betCosts{
    display: flex;
    width: auto;
    color: #E0888E;
    margin-right: 3px;
}
.tomatoCosts{
    margin-top: -1px;
    width: 17px;
    filter: brightness(0.9);
}

#betValueSelect{
    position: relative;
    display: flex;
    width: auto;
    color: #E0888E;
    background-color: #d0494e00;
    border-radius: 1px;
    outline: 1px solid #2D3B46;
    box-shadow: 0 0 0 2px #bfd4e936;
    filter: drop-shadow(0 0 20px #d0494e33);
    transition: .3s ease;
}
#betValueSelect:hover{
    box-shadow: 0 0 0 2px #bfd4e98f;
}
#betValueSelect.active{
    box-shadow: 0 0 0 2px #bfd4e98f;
    filter: drop-shadow(0 0 10px #d0494ed3);
    background-color: #d0494e36;
}

.barBet{
    color: #d8686e;
}

#betValueDB{
    position: relative;
    display: flex;
    width: auto;
    color: #D0494D;
}

/* Estilos generales para el input de tipo range */
#sliderTomatoes[type="range"] {
    -webkit-appearance: none; /* Elimina el estilo por defecto en WebKit */
    width: 260px; /* Ancho completo del contenedor padre */
    height: 8px; /* Altura de la pista */
    background: #e28d8d; /* Color de la pista */
    border-radius: 5px; /* Bordes redondeados para la pista */
    outline: none; /* Sin borde de enfoque */
    padding: 0; /* Sin padding */
    margin: 0; /* Sin margen */
    align-items: center;
}
  
  /* Estilos para la pista del control deslizante en navegadores WebKit */
#sliderTomatoes[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #e28d8d;
    border-radius: 5px;
}
  
  /* Estilos para el "thumb" en navegadores WebKit */
/* Estilos para el "thumb" en navegadores WebKit */
#sliderTomatoes[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px; /* Altura del thumb */
    width: 22px;  /* Anchura del thumb */
    border-radius: 20%; /* Forma circular */
    background: url("../img/hamster/icons/iconTomato.svg"); /* Imagen de fondo del thumb */
    background-size: 123%;
    background-position: -2.5px 1px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: -13px; /* Ajuste para alinear el thumb con la pista */
    /*box-shadow: 0px 0px 4px black;*/
}




.multiContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    font-size: 16px;
    background-color: #607d9962;
    width: calc(450px + var(--betValueSelect-width) + var(--betValueDB-width));
    height: auto;
    padding: 12px;
    border-radius: 7px;
    pointer-events: all;
    filter: drop-shadow(0px 0px 0px black);

    transform: scale(1) perspective(525px) translateZ(0) rotateX(var(--dx)) rotateY(var(--dy));
    transition: all 0.7s ease, width 0.2s ease, transform 150ms linear;
}

.multiContainer.active {
    transform: scale(1.05) perspective(525px) translateZ(0) rotateX(var(--dx)) rotateY(var(--dy));
    filter: drop-shadow(4px 6px 7px black);
}

.multiRangeContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.multiValueContainer{
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    position: absolute;
    right: 20px;
    width: auto;
    font-size: 14px;
    color: #FFE640;
}

.multiHelpContainer{
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    right: 20px;
    width: auto;
    color: #e28d8d;
    pointer-events: all;
}

#multiHelp{
    transform: scaleX(0);
    max-width: 0px;
    max-height: 20px;
    overflow: hidden;
    transition: all 0.5s ease;
}

#multiHelp.active{
    transform: scaleX(1);
    max-width: 100px;
    max-height: 20px;
}

.coinCosts{
    width: 22px;
    height: 20px;
}

#multiValueSelect{
    position: relative;
    display: flex;
    width: auto;
    color: #E0888E;
}

.barMulti{
    color: #FEC538;
}

#multiValueDB{
    position: relative;
    display: flex;
    gap: 0px;
    width: auto;
    color: #EC9D34;
}

.thumbMultiCont{
    position: absolute;
    left: 100px;
    bottom: 9px;
    display: flex;
    flex-direction: row;
    font-family: 'kemco';
    align-items: baseline;
    letter-spacing: -2.1px;
    z-index: 10;
    padding: 5px;
    pointer-events: none;
    transform: translateX(1px);
    filter: none;
    transition: all 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out, background 0.3s ease-in-out, filter 0.3s ease-in-out, left 0s ease;
}
.thumbMultiCont.active{
    animation: backgroundFade 0.3s ease-in-out forwards;
    bottom: 30px;
    border-radius: 5px;
    z-index: 10;
    filter: drop-shadow(0px 0px 5px #65da887e);
    transform: translateX(1px);
}
.thumbMultiCont.activeBlur{
    filter: drop-shadow(0px 0px 10px #65da88ce);
}

@keyframes backgroundFade {
    0% {
        background: linear-gradient(180deg, #65da8800 -50%, #3cc0b500 120%);
    }
    100% {
        background: linear-gradient(180deg, #65da88 -50%, #3cc0b4 120%);
    }
}
.thumbX{
    font-size: 14px;
    background: transparent;
    transition: all 0.3s ease-in-out;
    color: #c2f3d1;
}
.thumbMulti{
    font-size: 17px;
    background: transparent;
    transition: all 0.3s ease-in-out;
    color: #c2f3d1;
}

.thumbMulti::before {
    content: '';
    position: absolute;
    width: 50px; /* Ajusta según sea necesario */
    height: 50px; /* Ajusta según sea necesario */
    bottom: -26px;
    left: 5px;

    /* Fondo con degradado */
    background: linear-gradient(180deg, #65da88 -50%, #3cc0b4 80%);

    /* Máscara con la imagen */
    -webkit-mask-image: url("../img/fruitNinja/multiActive.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    /* Para compatibilidad con otros navegadores */
    mask-image: url("../img/fruitNinja/multiActive.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    transform: scaleX(0) scaleY(0);
    z-index: -10;
    transition: all 0.3s ease-in-out;
}

.thumbMulti.active::before {
    transform: scaleX(1) scaleY(0.3);
}
#multiValueLabel{
    color: #65da88;
}

/* Estilos generales para el input de tipo range */
#sliderMulti[type="range"] {
    -webkit-appearance: none; /* Elimina el estilo por defecto en WebKit */
    width: 90px; /* Ancho completo del contenedor padre */
    height: 8px; /* Altura de la pista */
    background: #50ad6c; /* Color de la pista */
    border-radius: 5px; /* Bordes redondeados para la pista */
    outline: none; /* Sin borde de enfoque */
    padding: 0; /* Sin padding */
    margin: 0; /* Sin margen */
    align-items: center;
    transition: all 0.3s ease;
}

    /* Estilos para la pista del control deslizante en navegadores WebKit */
#sliderMulti::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #50ad6c;
    border-radius: 5px;
}
  
  /* Estilos para el "thumb" en navegadores WebKit */
/* Estilos para el "thumb" en navegadores WebKit */
#sliderMulti::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 27px; /* Altura del thumb */
    width: 22px;  /* Anchura del thumb */
    border-radius: 20%; /* Forma circular */
    background-size: 123%;
    background-position: -2.5px 1px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: -10px; /* Ajuste para alinear el thumb con la pista */
    pointer-events: all;
    z-index: 2;
    /*box-shadow: 0px 0px 4px black;*/
}


.multiModeContainer{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    font-size: 16px;
    background-color: #607d9962;
    width: calc(450px + var(--betValueSelect-width) + var(--betValueDB-width));
    max-height: 17.2px;
    padding: 12px;
    border-radius: 7px;
    pointer-events: all;
    filter: drop-shadow(0px 0px 0px black);

    transform: scale(1) perspective(525px) translateZ(0) rotateX(var(--dx)) rotateY(var(--dy));
    transition: all 0.7s ease, width 0.2s ease, transform 150ms linear;
}

.multiModeContainer.active {
    transform: scale(1.05) perspective(525px) translateZ(0) rotateX(var(--dx)) rotateY(var(--dy));
    filter: drop-shadow(4px 6px 7px black);
}
.multiModeTittle{
    min-width: 165px;
}
.multiModeLabel{
    font-family: 'kemco';
    font-size: 24px;
    letter-spacing: -1px;
    margin-top: 3px;
    transition: all 0.5s ease;
    text-align: center;
    white-space: nowrap; /* Mantiene todo el contenido en una sola línea */
    overflow: visible; /* Permite que el contenido que excede sea visible */
    width: auto; /* Asegura que el ancho del contenedor no limite el contenido */
    display: inline-block;
}
.multiModeLabel.active{
    background: linear-gradient(90deg, #30d96c 0%, #eb005f 140%);
    background: -webkit-linear-gradient(90deg, #30d96c 0%, #eb005f 140%); /* Compatibilidad con WebKit */
    background: -moz-linear-gradient(90deg, #30d96c 0%, #eb005f 140%); /* Compatibilidad con Firefox */
    background: -o-linear-gradient(90deg, #30d96c 0%, #eb005f 140%); /* Compatibilidad con Opera */
    background: linear-gradient(90deg, #30d96c 0%, #eb005f 140%); /* Estándar */
    -webkit-background-clip: text; /* Clipa el fondo al texto */
    -webkit-text-fill-color: transparent; /* Hace el texto transparente para mostrar el gradiente */
    background-clip: text;
}
@keyframes letterSpacingIn {
    0% {
      letter-spacing: -1px;
    }
    50% {
      letter-spacing: 2px;
    }
    100% {
      letter-spacing: -1px;
    }
  }

  
.modoLocoContainer{
   display: flex;
   flex-direction: row;
}
.modoLoco{
    width: 25px;
    height: auto;
    margin-left: 13px;
    transition: all 0.5s ease;
}
.modoLocoDefault.night{
    filter: brightness(0) saturate(100%) invert(86%) sepia(4%) saturate(2668%) hue-rotate(185deg) brightness(104%) contrast(83%);
}
.modoLocoActive{
    position: absolute;
    opacity: 0;
}

.modoLocoContainerR{
    display: flex;
    flex-direction: row;
 }
.modoLocoR{
    width: 25px;
    height: auto;
    margin-right: 5px;
    margin-left: -35px;
    margin-top: -15px;
    transition: all 0.5s ease;
}
.modoLocoDefaultR.night{
    filter: brightness(0) saturate(100%) invert(86%) sepia(4%) saturate(2668%) hue-rotate(185deg) brightness(104%) contrast(83%);
}
.modoLocoActiveR{
    position: absolute;
    opacity: 0;
}
.multiModeLabelR{
    font-family: 'kemco';
    font-size: 24px;
    letter-spacing: -1px;
    margin-top: 1px;
    transition: all 0.5s ease;
    text-align: center;
    white-space: nowrap; /* Mantiene todo el contenido en una sola línea */
    overflow: visible; /* Permite que el contenido que excede sea visible */
    width: auto; /* Asegura que el ancho del contenedor no limite el contenido */
    display: inline-block;
}
.multiModeLabelR.active{
    background: linear-gradient(90deg, #30d96c 0%, #eb005f 140%);
    background: -webkit-linear-gradient(90deg, #30d96c 0%, #eb005f 140%); /* Compatibilidad con WebKit */
    background: -moz-linear-gradient(90deg, #30d96c 0%, #eb005f 140%); /* Compatibilidad con Firefox */
    background: -o-linear-gradient(90deg, #30d96c 0%, #eb005f 140%); /* Compatibilidad con Opera */
    background: linear-gradient(90deg, #30d96c 0%, #eb005f 140%); /* Estándar */
    -webkit-background-clip: text; /* Clipa el fondo al texto */
    -webkit-text-fill-color: transparent; /* Hace el texto transparente para mostrar el gradiente */
    background-clip: text;
}


#switch[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
  }
  
  #switch[type=checkbox] + label {
    cursor: pointer;
    text-indent: -9999px;
    min-width: 200px;
    min-height: 100px;
    right: -60px;

    background: #141A1F;
    display: block;
    border-radius: 100px;
    position: absolute;
    transform: scale(0.2);
    transition: 0.3s;

  }
  
  #switch[type=checkbox] + label:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
    background: #bfd4e9;
    border-radius: 90px;
    transition: 0.3s;
  }
  
  #switch[type=checkbox]:checked + label {
    background: -webkit-linear-gradient(90deg, #30d96c -160%, #eb005f 100%); /* Compatibilidad con WebKit */
    background: -moz-linear-gradient(90deg, #30d96c -160%, #eb005f 100%); /* Compatibilidad con Firefox */
    background: -o-linear-gradient(90deg, #30d96c -160%, #eb005f 100%); /* Compatibilidad con Opera */
    background: linear-gradient(90deg, #30d96c -160%, #eb005f 100%); /* Estándar */
  }
  
  #switch[type=checkbox]:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-110%);
  }
  
  #switch[type=checkbox] + label:active:after {
    width: 130px;
  }
  
  









  


.statsContainer{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    font-size: 16px;
    background-color: #607d9962;
    width: auto;
    height: auto;
    padding: 12px;
    padding-left: 18px;
    border-radius: 7px;
    filter: drop-shadow(0px 0px 0px black);
    overflow: hidden;

    transition: all 0.7s ease, width 0.5s ease, height 0.5s ease;
}

.statsTittleContainer{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: -2px;
    pointer-events: all;
}

.statsTittle{

}

.flecha{
    width: auto;
    height: 15px;
    margin-top: 3px;
    margin-left: 0px;
    transform: rotateZ(-0deg) translateX(0px);
    transition: all 0.5s ease;
}

.flecha.rotated{
    transform: rotateZ(-180deg) translateX(-4px);
}

.flecha.night{
    filter: brightness(0) saturate(100%) invert(86%) sepia(4%) saturate(2668%) hue-rotate(185deg) brightness(104%) contrast(83%);
}

.blank{
    height: 15px;
    width: 1px;
    transition: width 0.5s ease;
}

.statRowFirst{
    transform: translateY(7px);
}
.statRow{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 105%;
    height: auto;
    background-color: rgba(139, 51, 104, 0.2);
}

.br{
    width: 105%;
    height: 2px;
    border-radius: 40%;
    background-color: #bfd4e9;
}

.itemNameHead{
    font-size: 14px;
    font-weight: bold;
    width: 115px;
}
.itemPercentageHead{
    font-size: 14px;
    font-weight: bold;
    width: 73px;
}
.itemMultiHead{
    font-size: 14px;
    font-weight: bold;
}
.itemPicLogo{
    width: auto;
    height: 18px;
    margin-left: 15px;
}
.itemPicLogo.night{
    filter: brightness(0) saturate(100%) invert(86%) sepia(4%) saturate(2668%) hue-rotate(185deg) brightness(104%) contrast(83%);
}

.flechaDouble{
    width: auto;
    height: 13px;
    z-index: 1;
    margin-top: 4px;
    margin-left: 5px;
    margin-right: -2px;
}
.flechaDoubleMl{
    margin-left: 15px;
}
.flechaDouble.down{
    transform: rotateZ(180deg);
}
.item{
    width: auto;
    height: 18px;
    z-index: 1;
}
.itemGap{
    margin-left: 15px;
}
.itemName{
    font-size: 13px;
    font-weight: normal;
    width: 115px;
}
.itemSpark{
    position: absolute;
    margin-top: -15px;
    margin-left: 6px;
}
.rewardsRow > .itemSpark{
    margin-top: -6.5px;
    margin-left: 6px;
}
.itemHalo{
    position: absolute;
    z-index: 0;
    transform: scale(2);
}
.itemPercentage{
    font-size: 13px;
    font-weight: normal;
    width: 73px;
}
.multiN{
    display: flex;
    flex-direction: row;
    font-size: 13px;
    font-weight: normal;
    width: 50px;
    margin-left: 15px;
}
.multiF{
    display: flex;
    flex-direction: row;
    font-size: 13px;
    font-weight: normal;
    width: 50px;
}



#startButton {
    position: relative;
    width: 200px;
    height: 50px;
    background-color: rgb(52, 81, 120); /* Añade un color de fondo para visibilidad */
    border: none;
    border-radius: 8px; /* Opcional: diseño más atractivo */
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex; /* Asegúrate de centrar el texto dentro del botón */
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-family: "Roboto";
    pointer-events: all;
    transition: all 0.5s ease-in-out;
}
