@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --betValueSelect-width: auto;
    --betValueDB-width: auto;
}

@font-face {
    font-family: "kemco";
    src: url("../img/Kemco Pixel Bold.ttf") format("woff2"),
      url("../img/Kemco Pixel Bold.ttf") format("woff");
    font-weight: normal;
    font-style: normal;
  }

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #1c2128;
    color: #bfd4e9;
    width:100vw;
    height:100vh;
}

img {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
  }


#game {
    width:100vw;
    height:100vh;
}

#matchInfoContainer{
    position: absolute;
    left: 20px;
    top: 20px;
}

#matchInfoContainer > div{
    display: flex;
    flex-direction: row;
    gap: 5px;
}




#startMatchContainer {
    display: flex; /* Usar flexbox para centrar internamente */
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: absolute; /* Asegura que esté sobre el contenedor principal */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra con precisión */
    width: 540px; /* Adapta el ancho automáticamente al contenido */
    height: 600px; /* Adapta la altura automáticamente al contenido */
    background-color: rgba(20, 26, 31, 0.957);
    padding: 20px; /* Añade espacio interno opcional */
    border-radius: 10px; /* Bordes redondeados opcionales */

    font-weight: bold;
    font-family: "Roboto";
}



.betContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    font-size: 16px;
    background-color: #607d9962;
    width: calc(450px + var(--betValueSelect-width) + var(--betValueDB-width));
    height: auto;
    padding: 12px;
    border-radius: 7px;
    pointer-events: all;
    filter: drop-shadow(0px 0px 0px black);

    transform: scale(1) perspective(525px) translateZ(0) rotateX(var(--dx)) rotateY(var(--dy));
    transition: all 0.7s ease, width 0.2s ease, transform 150ms linear;
}

.betContainer.active {
    transform: scale(1.05) perspective(525px) translateZ(0) rotateX(var(--dx)) rotateY(var(--dy));
    filter: drop-shadow(4px 6px 7px black);
}

.betRangeContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.betValueContainer{
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    position: absolute;
    right: 20px;
    width: auto;
    font-size: 14px;
}

#betCosts{
    display: flex;
    width: auto;
    color: #E0888E;
    margin-right: 3px;
}
.tomatoCosts{
    margin-top: -1px;
    width: 17px;
    filter: brightness(0.9);
}

#betValueSelect{
    position: relative;
    display: flex;
    width: auto;
    color: #E0888E;
}

.barBet{
    color: #d8686e;
}

#betValueDB{
    position: relative;
    display: flex;
    width: auto;
    color: #D0494D;
}

/* Estilos generales para el input de tipo range */
#sliderTomatoes[type="range"] {
    -webkit-appearance: none; /* Elimina el estilo por defecto en WebKit */
    width: 300px; /* Ancho completo del contenedor padre */
    height: 8px; /* Altura de la pista */
    background: #e28d8d; /* Color de la pista */
    border-radius: 5px; /* Bordes redondeados para la pista */
    outline: none; /* Sin borde de enfoque */
    padding: 0; /* Sin padding */
    margin: 0; /* Sin margen */
    align-items: center;
}
  
  /* Estilos para la pista del control deslizante en navegadores WebKit */
#sliderTomatoes[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #e28d8d;
    border-radius: 5px;
}
  
  /* Estilos para el "thumb" en navegadores WebKit */
/* Estilos para el "thumb" en navegadores WebKit */
#sliderTomatoes[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px; /* Altura del thumb */
    width: 22px;  /* Anchura del thumb */
    border-radius: 20%; /* Forma circular */
    background: url("../img/hamster/icons/iconTomato.svg"); /* Imagen de fondo del thumb */
    background-size: 123%;
    background-position: -2.5px 1px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: -13px; /* Ajuste para alinear el thumb con la pista */
    /*box-shadow: 0px 0px 4px black;*/
}




.multiContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    font-size: 16px;
    background-color: #607d9962;
    width: calc(450px + var(--betValueSelect-width) + var(--betValueDB-width));
    height: auto;
    padding: 12px;
    border-radius: 7px;
    pointer-events: all;
    filter: drop-shadow(0px 0px 0px black);

    transform: scale(1) perspective(525px) translateZ(0) rotateX(var(--dx)) rotateY(var(--dy));
    transition: all 0.7s ease, width 0.2s ease, transform 150ms linear;
}

.multiContainer.active {
    transform: scale(1.05) perspective(525px) translateZ(0) rotateX(var(--dx)) rotateY(var(--dy));
    filter: drop-shadow(4px 6px 7px black);
}

.multiRangeContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.multiValueContainer{
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    position: absolute;
    right: 20px;
    width: auto;
    font-size: 14px;
    background-color: #49d05b3a;
}

.multiHelpContainer{
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    right: 20px;
    width: auto;
    background-color: #c5d0493a;
    pointer-events: all;
}

#multiHelp{
    transform: scaleX(0);
    max-width: 0px;
    max-height: 20px;
    overflow: hidden;
    transition: all 0.5s ease;
}

#multiHelp.active{
    transform: scaleX(1);
    max-width: 50px;
    max-height: 20px;
}

.coinCosts{
    width: 22px;
    height: 20px;
}

#multiValueSelect{
    position: relative;
    display: flex;
    width: auto;
    color: #E0888E;
}

.barMulti{
    color: #d8686e;
}

#multiValueDB{
    position: relative;
    display: flex;
    gap: 0px;
    width: auto;
    color: #D0494D;
}

.thumbMultiCont{
    position: absolute;
    left: 100px;
    display: flex;
    flex-direction: row;
    font-family: 'kemco';
    align-items: baseline;
    letter-spacing: -2.1px;
    z-index: 1;
    pointer-events: none;
    transform: translateX(-10px);
    transition: all 0.1s ease;
}

.thumbX{
    font-size: 13px;
}
.thumbMulti{
    font-size: 16px;
}

/* Estilos generales para el input de tipo range */
#sliderMulti[type="range"] {
    -webkit-appearance: none; /* Elimina el estilo por defecto en WebKit */
    width: 140px; /* Ancho completo del contenedor padre */
    height: 8px; /* Altura de la pista */
    background: #e28d8d; /* Color de la pista */
    border-radius: 5px; /* Bordes redondeados para la pista */
    outline: none; /* Sin borde de enfoque */
    padding: 0; /* Sin padding */
    margin: 0; /* Sin margen */
    align-items: center;
    transition: all 0.5s ease;
}

    /* Estilos para la pista del control deslizante en navegadores WebKit */
#sliderMulti::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #e28d8d;
    border-radius: 5px;
}
  
  /* Estilos para el "thumb" en navegadores WebKit */
/* Estilos para el "thumb" en navegadores WebKit */
#sliderMulti::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 27px; /* Altura del thumb */
    width: 22px;  /* Anchura del thumb */
    border-radius: 20%; /* Forma circular */
    background-size: 123%;
    background-position: -2.5px 1px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: -10px; /* Ajuste para alinear el thumb con la pista */
    pointer-events: all;
    z-index: 2;
    /*box-shadow: 0px 0px 4px black;*/
}


.multiModeContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    font-size: 16px;
    background-color: #607d9962;
    width: calc(450px + var(--betValueSelect-width) + var(--betValueDB-width));
    max-height: 17.2px;
    padding: 12px;
    border-radius: 7px;
    pointer-events: all;
    filter: drop-shadow(0px 0px 0px black);

    transform: scale(1) perspective(525px) translateZ(0) rotateX(var(--dx)) rotateY(var(--dy));
    transition: all 0.7s ease, width 0.2s ease, transform 150ms linear;
}

.multiModeContainer.active {
    transform: scale(1.05) perspective(525px) translateZ(0) rotateX(var(--dx)) rotateY(var(--dy));
    filter: drop-shadow(4px 6px 7px black);
}
.multiModeTittle{
    min-width: 120px;
}
.multiModeLabel{
    font-family: 'kemco';
    font-size: 24px;
    letter-spacing: -1px;
    margin-top: 3px;
    transition: all 0.5s ease;
    text-align: center;
    white-space: nowrap; /* Mantiene todo el contenido en una sola línea */
    overflow: visible; /* Permite que el contenido que excede sea visible */
    width: auto; /* Asegura que el ancho del contenedor no limite el contenido */
    display: inline-block;
}
.multiModeLabel.active{
    background: linear-gradient(90deg, #30d96c 0%, #eb005f 140%);
    background: -webkit-linear-gradient(90deg, #30d96c 0%, #eb005f 140%); /* Compatibilidad con WebKit */
    background: -moz-linear-gradient(90deg, #30d96c 0%, #eb005f 140%); /* Compatibilidad con Firefox */
    background: -o-linear-gradient(90deg, #30d96c 0%, #eb005f 140%); /* Compatibilidad con Opera */
    background: linear-gradient(90deg, #30d96c 0%, #eb005f 140%); /* Estándar */
    -webkit-background-clip: text; /* Clipa el fondo al texto */
    -webkit-text-fill-color: transparent; /* Hace el texto transparente para mostrar el gradiente */
    background-clip: text;
}
@keyframes letterSpacingIn {
    0% {
      letter-spacing: -1px;
    }
    50% {
      letter-spacing: 2px;
    }
    100% {
      letter-spacing: -1px;
    }
  }

  
.modoLocoContainer{
   display: flex;
   flex-direction: row;
}
.modoLoco{
    width: 25px;
    height: auto;
    margin-right: -10px;
    transition: all 0.5s ease;
}
.modoLocoDefault.night{
    filter: brightness(0) saturate(100%) invert(86%) sepia(4%) saturate(2668%) hue-rotate(185deg) brightness(104%) contrast(83%);
}
.modoLocoActive{
    position: absolute;
    opacity: 0;
}


#switch[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
  }
  
  #switch[type=checkbox] + label {
    cursor: pointer;
    text-indent: -9999px;
    min-width: 200px;
    min-height: 100px;
    background: #141A1F;
    display: block;
    border-radius: 100px;
    position: relative;
    transform: scale(0.2) translateX(-370px);
    transition: 0.3s;

  }
  
  #switch[type=checkbox] + label:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
    background: #bfd4e9;
    border-radius: 90px;
    transition: 0.3s;
  }
  
  #switch[type=checkbox]:checked + label {
    background: -webkit-linear-gradient(90deg, #30d96c -160%, #eb005f 100%); /* Compatibilidad con WebKit */
    background: -moz-linear-gradient(90deg, #30d96c -160%, #eb005f 100%); /* Compatibilidad con Firefox */
    background: -o-linear-gradient(90deg, #30d96c -160%, #eb005f 100%); /* Compatibilidad con Opera */
    background: linear-gradient(90deg, #30d96c -160%, #eb005f 100%); /* Estándar */
  }
  
  #switch[type=checkbox]:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-110%);
  }
  
  #switch[type=checkbox] + label:active:after {
    width: 130px;
  }
  
  









  


.statsContainer{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    font-size: 16px;
    background-color: #607d9962;
    width: auto;
    height: auto;
    padding: 12px;
    padding-left: 18px;
    border-radius: 7px;
    filter: drop-shadow(0px 0px 0px black);
    overflow: hidden;

    transition: all 0.7s ease, width 0.5s ease, height 0.5s ease;
}

.statsTittleContainer{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: -2px;
    pointer-events: all;
}

.statsTittle{

}

.flecha{
    width: auto;
    height: 15px;
    margin-top: 3px;
    margin-left: 0px;
    transform: rotateZ(-0deg) translateX(0px);
    transition: all 0.5s ease;
}

.flecha.rotated{
    transform: rotateZ(-180deg) translateX(-4px);
}

.flecha.night{
    filter: brightness(0) saturate(100%) invert(86%) sepia(4%) saturate(2668%) hue-rotate(185deg) brightness(104%) contrast(83%);
}

.blank{
    height: 15px;
    width: 1px;
    transition: width 0.5s ease;
}

.statRowFirst{
    transform: translateY(7px);
}
.statRow{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 105%;
    height: auto;
    background-color: rgba(139, 51, 104, 0.2);
}

.br{
    width: 105%;
    height: 2px;
    border-radius: 40%;
    background-color: #bfd4e9;
}

.itemNameHead{
    font-size: 14px;
    font-weight: bold;
    background-color: red;
    width: 115px;
}
.itemPercentageHead{
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(0, 60, 255);
    width: 73px;
}
.itemPicLogo{
    width: auto;
    height: 18px;
    margin-left: 15px;
}
.itemPicLogo.night{
    filter: brightness(0) saturate(100%) invert(86%) sepia(4%) saturate(2668%) hue-rotate(185deg) brightness(104%) contrast(83%);
}


.item{
    width: auto;
    height: 18px;
    z-index: 1;
    margin-left: 15px;
}
.itemName{
    font-size: 13px;
    font-weight: normal;
    background-color: red;
    width: 115px;
}
.itemSpark{
    position: absolute;
    margin-top: -15px;
    margin-left: -10px;
    margin-left: 15px;
}
.itemHalo{
    position: absolute;
    z-index: 0;
    transform: scale(2);
}
.itemPercentage{
    font-size: 13px;
    font-weight: normal;
    background-color: rgb(0, 60, 255);
    width: 73px;
}
.itemMulti{
    display: flex;
    flex-direction: row;
    font-size: 13px;
    font-weight: normal;
    background-color: rgb(0, 60, 255);
    width: 50px;
}
.x{
    
}




#startButton {
    position: absolute;
    bottom: 40px;
    width: 200px;
    height: 50px;
    background-color: rgb(52, 81, 120); /* Añade un color de fondo para visibilidad */
    border: none;
    border-radius: 8px; /* Opcional: diseño más atractivo */
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex; /* Asegúrate de centrar el texto dentro del botón */
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-family: "Roboto";
}
