html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #1c2128;
    width:100vw;
    height:100vh;
}

#game {
    width:100vw;
    height:100vh;
}

#startMatchContainer {
    display: flex; /* Usar flexbox para centrar internamente */
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    position: absolute; /* Asegura que esté sobre el contenedor principal */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra con precisión */
    width:400px; /* Adapta el ancho automáticamente al contenido */
    height: 600px; /* Adapta la altura automáticamente al contenido */
    background-color: rgb(41, 41, 41);
    padding: 20px; /* Añade espacio interno opcional */
    border-radius: 10px; /* Bordes redondeados opcionales */
}


#startButton {
    width: 200px;
    height: 50px;
    background-color: #2b2e34; /* Añade un color de fondo para visibilidad */
    border: none;
    border-radius: 8px; /* Opcional: diseño más atractivo */
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex; /* Asegúrate de centrar el texto dentro del botón */
    justify-content: center;
    align-items: center;
    text-align: center;
}



#sliderContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#sliderValueContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#sliderValue{
    position: absolute;
    right: 80px;
    width: 30px;
}


/* Estilos generales para el input de tipo range */
input[type="range"] {
    -webkit-appearance: none; /* Elimina el estilo por defecto en WebKit */
    width: 200px; /* Ancho completo del contenedor padre */
    height: 8px; /* Altura de la pista */
    background: #e28d8d; /* Color de la pista */
    border-radius: 5px; /* Bordes redondeados para la pista */
    outline: none; /* Sin borde de enfoque */
    padding: 0; /* Sin padding */
    margin: 0; /* Sin margen */
    align-items: center;
  }
  
  /* Estilos para la pista del control deslizante en navegadores WebKit */
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #e28d8d;
    border-radius: 5px;
  }
  
  /* Estilos para el "thumb" en navegadores WebKit */
/* Estilos para el "thumb" en navegadores WebKit */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px; /* Altura del thumb */
    width: 30px;  /* Anchura del thumb */
    border-radius: 50%; /* Forma circular */
    background: url("assets/iconTomato.svg"); /* Imagen de fondo del thumb */
    background-size: 100%;
    background-position: 0px -2px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: -10px; /* Ajuste para alinear el thumb con la pista */
  }
  