html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #1c2128;
    width:100vw;
    height:100vh;
}

#game {
    width:100vw;
    height:100vh;
}

#startMatch {
    display: flex; /* Usar flexbox para centrar internamente */
    justify-content: center;
    align-items: center;
    position: absolute; /* Asegura que esté sobre el contenedor principal */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra con precisión */
    width: auto; /* Adapta el ancho automáticamente al contenido */
    height: auto; /* Adapta la altura automáticamente al contenido */
    background-color: rgb(41, 41, 41);
    padding: 20px; /* Añade espacio interno opcional */
    border-radius: 10px; /* Bordes redondeados opcionales */
}


#startButton {
    width: 200px;
    height: 50px;
    background-color: #2b2e34; /* Añade un color de fondo para visibilidad */
    border: none;
    border-radius: 8px; /* Opcional: diseño más atractivo */
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex; /* Asegúrate de centrar el texto dentro del botón */
    justify-content: center;
    align-items: center;
    text-align: center;
}
