@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#icon{
  width: 200px;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: none;
  user-select: none; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  touch-action: none;
}

body {
  background-color: #1c2128;
  
  /*background-color: #dddcb0;*/
  color: #bfd4e9;
  font-family: "Roboto";
  display: flex;
  height: 100dvh;
  justify-content: center;
  flex-direction: column;
  transition: background-color 0.75s ease;
  cursor: none;
  overflow: hidden;
}

#customCursor {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.1s ease-in-out, height 0.1s ease-in-out, transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
  z-index: 100;
  transform: translate(-18px, -18px);
  visibility: visible;
  opacity: 100%;

}

#customCursor.clicked {
  width: 60px;
  height: 60px;
  transform: translate(-28px, -28px); /* Ajuste según el nuevo tamaño */
}


#customCursorPurpleish {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.1s ease-in-out, height 0.1s ease-in-out, transform 0.1s ease-in-out, opacity 0.1s ease-in-out ;
  z-index: 100;
  transform: translate(-18px, -18px);
  visibility: visible;
  opacity: 100%;
}

#customCursorPurpleish.clicked {
  width: 60px;
  height: 60px;
  transform: translate(-28px, -28px); /* Ajuste según el nuevo tamaño */
}

body {
  background-color: #1c2128;
  color: #bfd4e9;
  font-family: "Roboto";
  display: flex;
  height: 100dvh;
  justify-content: center;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/Calendario_Escolar.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 90%;
}

nav a span {
  padding: 10px;
  left: 100px;
  border-radius: 100px;
}

nav a span:hover {
  background-color: #333c4a;
}

#Cc1 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc1preview {
  display: none;
  position: fixed;
  bottom: 13px;
  left: 30px;
  width: 30px;
  height: 20px;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc2preview {
  display: none;
  position: fixed;
  bottom: 33px;
  left: 30px;
  width: 30px;
  height: 20px;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc3 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc3preview {
  display: none;
  position: fixed;
  top: 13px;
  left: 30px;
  width: 30px;
  height: 20px;
  object-fit: cover;
  z-index: 999;
  transition: opacity 2.5s ease-in-out;
}

#Cc4 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc4preview {
  display: none;
  position: fixed;
  top: 33px;
  left: 30px;
  width: 30px;
  height: 20px;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc5 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc5preview {
  display: none;
  position: fixed;
  top: 13px;
  right: 30px;
  width: 30px;
  height: 20px;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc6 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc6preview {
  display: none;
  position: fixed;
  top: 33px;
  right: 30px;
  width: 30px;
  height: 20px;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc7 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc7preview {
  display: none;
  position: fixed;
  bottom: 13px;
  right: 30px;
  width: 30px;
  height: 20px;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc8 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

#Cc8preview {
  display: none;
  position: fixed;
  bottom: 33px;
  right: 30px;
  width: 30px;
  height: 20px;
  object-fit: cover;
  z-index: -1;
  transition: opacity 2.5s ease-in-out;
}

.ButtonCc1 {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  width: 1px;
  background-color: #262b31;
  position: absolute;
  bottom: 0;
  left: 0;

  background: none;
  border: 8;
  color: inherit;

  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  opacity: 20%;
}

.ButtonCc2 {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  width: 1px;
  background-color: #262b31;
  position: absolute;
  bottom: 20px;
  left: 0;

  background: none;
  border: 8;
  color: inherit;

  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  opacity: 20%;
}

.ButtonCc3 {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  width: 1px;
  background-color: #262b31;
  position: absolute;
  top: 0;
  left: 0;

  background: none;
  border: 8;
  color: inherit;

  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  opacity: 20%;
}

.ButtonCc4 {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  width: 1px;
  background-color: #262b31;
  position: absolute;
  top: 20px;
  left: 0;

  background: none;
  border: 8;
  color: inherit;

  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  opacity: 20%;
}

.ButtonCc5 {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  width: 1px;
  background-color: #262b31;
  position: absolute;
  top: 0;
  right: 0;

  background: none;
  border: 8;
  color: inherit;

  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  opacity: 20%;
}

.ButtonCc6 {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  width: 1px;
  background-color: #262b31;
  position: absolute;
  top: 20px;
  right: 0;

  background: none;
  border: 8;
  color: inherit;

  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  opacity: 20%;
}

.ButtonCc7 {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  width: 1px;
  background-color: #262b31;
  position: absolute;
  bottom: 0;
  right: 0;

  background: none;
  border: 8;
  color: inherit;

  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  opacity: 20%;
}

.ButtonCc8 {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  width: 1px;
  background-color: #262b31;
  position: absolute;
  bottom: 20px;
  right: 0;

  background: none;
  border: 8;
  color: inherit;

  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  opacity: 20%;
}




.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform:scale(60%);
  top: 5px;
  right: 10px;
}

.credit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  font-family: arial;
}

.switch {
  position: relative;
  overflow: hidden;
  width: 7.5rem;
  height: 4rem;
}

.switch input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}

.switch label {
  cursor: pointer;
}

.background {
  z-index: 1;
  position: absolute;
  width: 7.5rem;
  height: 4rem;
  border-radius: 2.5rem;
  border: 0.25rem solid #202020;
  background: linear-gradient(to right, #484848 0%,#1c2128 100%);
  transition: all 0.3s;
}

.stars1,
.stars2 {
  position: absolute;
  height: 0.4rem;
  width: 0.4rem; 
  background: #FFFFFF;
  border-radius: 50%;
  transition: 0.3s all ease;
}

.stars1 {
  top: 6px;
  right: 23px;
}

.stars2 {
  top: 40px;
  right: 48px;
}

.stars1:after,
.stars1:before,
.stars2:after,
.stars2:before{
  position: absolute;
  content: "";
  display: block;
  height: 0.25rem;
  width: 0.25rem;
  background: #FFFFFF;
  border-radius: 50%;
  transition: 0.2s all ease;
}

.stars1:after {
  top: 8px;
  right: 20px;
}

.stars1:before {
  top: 18px;
  right: -12px;
}

.stars2:after {
  top: -8px;
  right: -16px;
}

.stars2:before {
  top: 6px;
  right: -26px;
}

.sun-moon {
  z-index: 2;
  position: absolute;
  left: 0;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
  background: #FFFDF2;
  border-radius: 50%;
  transition: all 0.5s ease;
  
  /* Default to Moon */
  border: 0.25rem solid #DEE2C6;
}

.sun-moon .dots {
  position: absolute;
  top: 3px;
  left: 23px;
  height: 1rem;
  width: 1rem; 
  background: #EFEEDB;
  border: 0.25rem solid #DEE2C6;
  border-radius: 50%;
  transition: 0.4s all ease;
}

.sun-moon .dots:after,
.sun-moon .dots:before {
  position: absolute;
  content: "";
  display: block;
  height: 0.25rem;
  width: 0.25rem;
  background: #EFEEDB;
  border: 0.25rem solid #DEE2C6;
  border-radius: 50%;
  transition: 0.4s all ease;
}

.sun-moon .dots:after {
  top: -4px;
  left: -24px;
}

.sun-moon .dots:before {
  top: 18px;
  left: -10px;
}

/* Transition to Sun */

.switch input:checked ~ .sun-moon {
  left: calc(100% - 4rem);
  background: #eee98f;
  border-color: #ebcc65;
  transform: rotate(-25deg);
}

.switch input:checked ~ .sun-moon .dots,
.switch input:checked ~ .sun-moon .dots:after,
.switch input:checked ~ .sun-moon .dots:before {
  background: #FFFFFF;
  border-color: #FFFFFF;
}

.switch input:checked ~ .sun-moon .dots {
  height: 1.5rem;
  width: 1.5rem;
  top: 0px;
  left: -20px;
  transform: rotate(25deg);
}

.switch input:checked ~ .sun-moon .dots:after {
  height: 0.65rem;
  width: 0.65rem;
  top: 2px;
  left: -12px;
}

.switch input:checked ~ .sun-moon .dots:before {
  height: 0.4rem;
  width: 0.4rem;
  top: 6px;
  left: 14px;
}

.switch input:checked ~ .background .stars1,
.switch input:checked ~ .background .stars2 {
  opacity: 0;
  transform: translateY(2rem);
}

.switch input:checked ~ .background {
  border: 0.25rem solid #c4c389;
  background: linear-gradient(to right, #cbca8f 0%, #edeba4 100%);
}


#esc{
  background-color: white;
  position: absolute;
  left: 2px;
  top: 1px;
  width: 40px;
  height: 30px;
  border-radius: 8px;
  z-index: 5;
  transition: top 0.1s ease;
}

#esc:hover{
  background-color: white;
  position: absolute;
  left: 2px;
  top: 3px;
  width: 40px;
  height: 30px;
  border-radius: 8px;
  z-index: 5;
}

#esc2{
  background-color: rgb(95, 95, 95);
  position: absolute;
  left: 0px;
  width: 45px;
  height: 37px;
  border-radius: 8px;
  z-index: 4;
}

a:link,
a:visited {
  text-decoration: none;
  color: currentColor;
  width: 45px;
  height: 35px;
  position: absolute;
  left: 50px;
  border-radius: 8px;
  background-color: purple;
  z-index: 6;
}